AI3.json
[
    {
        "id": "e217624fb46e4db9",
        "type": "tab",
        "label": "플로우 7",
        "disabled": false,
        "info": ""
    },
    {
        "id": "9b19573449510581",
        "type": "inject",
        "z": "e217624fb46e4db9",
        "name": "Debug-Image Capture",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 280,
        "y": 140,
        "wires": [
            [
                "adeac5f40d2266d8"
            ]
        ]
    },
    {
        "id": "adeac5f40d2266d8",
        "type": "http request",
        "z": "e217624fb46e4db9",
        "name": "Image Capture Command",
        "method": "GET",
        "ret": "bin",
        "paytoqs": "ignore",
        "url": "http://192.168.0.20/capture",
        "tls": "",
        "persist": false,
        "proxy": "",
        "authType": "",
        "x": 550,
        "y": 140,
        "wires": [
            [
                "696b84e9a5afc50f",
                "95dc8c5fc628527b"
            ]
        ]
    },
    {
        "id": "696b84e9a5afc50f",
        "type": "base64",
        "z": "e217624fb46e4db9",
        "name": "",
        "action": "",
        "property": "payload",
        "x": 790,
        "y": 140,
        "wires": [
            [
                "e11244a99310a41d",
                "9ef90d3a0658b25a"
            ]
        ]
    },
    {
        "id": "e11244a99310a41d",
        "type": "template",
        "z": "e217624fb46e4db9",
        "name": "Img width Setting",
        "field": "payload",
        "fieldType": "msg",
        "format": "handlebars",
        "syntax": "mustache",
        "template": "<img width=\"640px\" height=\"480px\" src=\"data:image/jpg;base64,{{{payload}}}\">",
        "output": "str",
        "x": 803.9999923706055,
        "y": 212.99997901916504,
        "wires": [
            [
                "ad80b45d33b2dad6"
            ]
        ]
    },
    {
        "id": "9ef90d3a0658b25a",
        "type": "image",
        "z": "e217624fb46e4db9",
        "name": "",
        "width": 160,
        "data": "payload",
        "dataType": "msg",
        "thumbnail": false,
        "active": true,
        "pass": false,
        "outputs": 0,
        "x": 1160,
        "y": 140,
        "wires": []
    },
    {
        "id": "0eabf3285539e4e9",
        "type": "file",
        "z": "e217624fb46e4db9",
        "name": "",
        "filename": "",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "true",
        "encoding": "none",
        "x": 534,
        "y": 323.99997997283936,
        "wires": [
            [
                "cd7fa8710189781a"
            ]
        ]
    },
    {
        "id": "95dc8c5fc628527b",
        "type": "function",
        "z": "e217624fb46e4db9",
        "name": "",
        "func": "msg.filename = \"D:/Data/test_image/Test.jpg\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 309.99999237060547,
        "y": 320.99997901916504,
        "wires": [
            [
                "0eabf3285539e4e9",
                "fb7f5dcf3070ccac"
            ]
        ]
    },
    {
        "id": "fb7f5dcf3070ccac",
        "type": "debug",
        "z": "e217624fb46e4db9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "filename",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 536,
        "y": 388.9999723434448,
        "wires": []
    },
    {
        "id": "9a1dd2ab6e696191",
        "type": "ui_template",
        "z": "e217624fb46e4db9",
        "group": "76a94514ec0826ee",
        "name": "Strreaming Image",
        "order": 1,
        "width": 13,
        "height": 10,
        "format": "<div>\n    <img src=\"http://192.168.0.20:81/stream\" width=\"640px\">\n</div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 280,
        "y": 80,
        "wires": [
            []
        ]
    },
    {
        "id": "6c50ed2ceb3a7f44",
        "type": "ui_text",
        "z": "e217624fb46e4db9",
        "group": "76a94514ec0826ee",
        "order": 5,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Capture Image",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 547,
        "y": 458.99996757507324,
        "wires": []
    },
    {
        "id": "018e323f4ba75568",
        "type": "ui_text",
        "z": "e217624fb46e4db9",
        "group": "76a94514ec0826ee",
        "order": 3,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "Live",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 250,
        "y": 460,
        "wires": []
    },
    {
        "id": "ad524e7725ddbf81",
        "type": "ui_button",
        "z": "e217624fb46e4db9",
        "name": "",
        "group": "76a94514ec0826ee",
        "order": 9,
        "width": 6,
        "height": 1,
        "passthru": false,
        "label": "Camera Capture",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 240,
        "y": 200,
        "wires": [
            [
                "adeac5f40d2266d8"
            ]
        ]
    },
    {
        "id": "ad80b45d33b2dad6",
        "type": "ui_template",
        "z": "e217624fb46e4db9",
        "group": "76a94514ec0826ee",
        "name": "Capture Image",
        "order": 2,
        "width": 13,
        "height": 10,
        "format": "<div ng-bind-html=\"msg.payload\"></div>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 800,
        "y": 280,
        "wires": [
            []
        ]
    },
    {
        "id": "50943d835dbca50f",
        "type": "debug",
        "z": "e217624fb46e4db9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 360,
        "wires": []
    },
    {
        "id": "cd7fa8710189781a",
        "type": "cocossd",
        "z": "e217624fb46e4db9",
        "name": "",
        "x": 780,
        "y": 360,
        "wires": [
            [
                "50943d835dbca50f",
                "7c31b68dd62b482b"
            ]
        ]
    },
    {
        "id": "7c31b68dd62b482b",
        "type": "ui_text",
        "z": "e217624fb46e4db9",
        "group": "76a94514ec0826ee",
        "order": 7,
        "width": 6,
        "height": 1,
        "name": "",
        "label": "AI 결과",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "className": "",
        "x": 960,
        "y": 420,
        "wires": []
    },
    {
        "id": "c8dab58f8c4a8c76",
        "type": "ui_spacer",
        "z": "e217624fb46e4db9",
        "name": "spacer",
        "group": "76a94514ec0826ee",
        "order": 4,
        "width": 7,
        "height": 1
    },
    {
        "id": "b6cf52726ed94f0c",
        "type": "ui_spacer",
        "z": "e217624fb46e4db9",
        "name": "spacer",
        "group": "76a94514ec0826ee",
        "order": 6,
        "width": 1,
        "height": 1
    },
    {
        "id": "2418ea21c9585168",
        "type": "ui_spacer",
        "z": "e217624fb46e4db9",
        "name": "spacer",
        "group": "76a94514ec0826ee",
        "order": 8,
        "width": 13,
        "height": 1
    },
    {
        "id": "a163cfb71aed25bc",
        "type": "ui_spacer",
        "z": "e217624fb46e4db9",
        "name": "spacer",
        "group": "76a94514ec0826ee",
        "order": 10,
        "width": 7,
        "height": 1
    },
    {
        "id": "76a94514ec0826ee",
        "type": "ui_group",
        "name": "ESP32Cam",
        "tab": "f0a7f7bdd66905b2",
        "order": 1,
        "disp": true,
        "width": 26,
        "collapse": false,
        "className": ""
    },
    {
        "id": "f0a7f7bdd66905b2",
        "type": "ui_tab",
        "name": "Camera",
        "icon": "dashboard",
        "order": 6,
        "disabled": false,
        "hidden": false
    }
]
