SmartFarm1.txt
[
    {
        "id": "85f89934405c1be5",
        "type": "tab",
        "label": "Flow 7",
        "disabled": false,
        "info": ""
    },
    {
        "id": "87f8f153f0a57b7b",
        "type": "json",
        "z": "85f89934405c1be5",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": true,
        "x": 414,
        "y": 315.0000009536743,
        "wires": [
            [
                "80a46e2db2f98842"
            ]
        ]
    },
    {
        "id": "db6de3f35ad78ac1",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "var b=Buffer.from(msg.payload);\nvar s=b.toString();\nvar out=s;\nmsg.payload= out;\nreturn msg;\n",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 258,
        "y": 314.00002002716064,
        "wires": [
            [
                "87f8f153f0a57b7b",
                "3da4860ad5a7de03",
                "e04488570848eb2e",
                "03ac210716f92dd0"
            ]
        ]
    },
    {
        "id": "80a46e2db2f98842",
        "type": "split",
        "z": "85f89934405c1be5",
        "name": "",
        "splt": ",",
        "spltType": "str",
        "arraySplt": 1,
        "arraySpltType": "len",
        "stream": false,
        "addname": "",
        "x": 541.9999961853027,
        "y": 314.00000286102295,
        "wires": [
            [
                "4171bb8605de3b16"
            ]
        ]
    },
    {
        "id": "4171bb8605de3b16",
        "type": "switch",
        "z": "85f89934405c1be5",
        "name": "",
        "property": "parts.key",
        "propertyType": "msg",
        "rules": [
            {
                "t": "eq",
                "v": "temp",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "humidity",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "cdc",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "water",
                "vt": "str"
            },
            {
                "t": "eq",
                "v": "co2",
                "vt": "str"
            }
        ],
        "checkall": "true",
        "repair": false,
        "outputs": 5,
        "x": 668,
        "y": 314.00002002716064,
        "wires": [
            [
                "3576c8142e8b7b0e",
                "24c2c8cb6f8de5f6"
            ],
            [
                "5f1405ef41f69cfd",
                "a14535e17b0c483b"
            ],
            [
                "ec622ea871d9d6f2",
                "b2aab3e2a6b3fc89"
            ],
            [
                "286b5bd0eb178d08",
                "d30ac791ae5f8b6f"
            ],
            [
                "4ea5e18ca058a39d",
                "c110d3f77a9ee9f0"
            ]
        ]
    },
    {
        "id": "e04488570848eb2e",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "msg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace(':', ',');\nmsg.payload = msg.payload.replace('{', '');\nmsg.payload = msg.payload.replace('}', '');\nmsg.payload = msg.payload.replace('\"temp\",', '');\nmsg.payload = msg.payload.replace('\"humidity\",', '');\nmsg.payload = msg.payload.replace('\"cdc\",', '');\nmsg.payload = msg.payload.replace('\"water\",', '');\nmsg.payload = msg.payload.replace('\"co2\",', '');\n\nvar newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString();\n\nmsg.payload = date + ',' + time + \",\" + msg.payload;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 338,
        "y": 434.00002002716064,
        "wires": [
            [
                "7dce79e8f52359e2"
            ]
        ]
    },
    {
        "id": "7dce79e8f52359e2",
        "type": "file",
        "z": "85f89934405c1be5",
        "name": "data_logger",
        "filename": "logger\\data_smartCYY.csv",
        "appendNewline": true,
        "createDir": true,
        "overwriteFile": "false",
        "encoding": "none",
        "x": 508,
        "y": 434.00002002716064,
        "wires": [
            [
                "821b661241f00108"
            ]
        ]
    },
    {
        "id": "821b661241f00108",
        "type": "debug",
        "z": "85f89934405c1be5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 668,
        "y": 434.00002002716064,
        "wires": []
    },
    {
        "id": "121c64202dc66cd7",
        "type": "inject",
        "z": "85f89934405c1be5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "5",
        "crontab": "",
        "once": true,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 134,
        "y": 775.0000009536743,
        "wires": [
            [
                "94a4fc83268d9f97"
            ]
        ]
    },
    {
        "id": "94a4fc83268d9f97",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "msg.topic = \"SELECT * FROM smartcyy.sensor WHERE DATE(date) BETWEEN :sdate AND :edate order by ID desc limit 100;\";\n\nvar vs = global.get('start_date');\nvar ve = global.get('end_date');\n\nvar vsdate = new Date(vs);\nvar vedate = new Date(ve);\n\nvar vsdd = vsdate.getDate();\nif(vsdd < 10) vsdd = '0' + vsdd;\nvar vsmm = vsdate.getMonth()+1;\nvar vsyy = vsdate.getFullYear();\n\nvar vedd = vedate.getDate();\nif(vedd < 10) vedd = '0' + vedd;\nvar vemm = vedate.getMonth()+1;\nvar veyy = vedate.getFullYear();\n\nvar vsday = vsyy + '-' + vsmm + '-' + vsdd;\nvar veday = veyy + '-' + vemm + '-' + vedd;\n\n\n// msg.payload = { sdate: '2021-01-15', edate: '2021-01-15' };\nmsg.payload = { sdate: vsday, edate: veday };\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 328,
        "y": 774.0000200271606,
        "wires": [
            [
                "49bd3fb961133e4c",
                "50928718c1f73b75"
            ]
        ]
    },
    {
        "id": "65c6a5665b0f4e80",
        "type": "debug",
        "z": "85f89934405c1be5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 674,
        "y": 755.0000009536743,
        "wires": []
    },
    {
        "id": "03ac210716f92dd0",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "SQL",
        "func": "var obj = JSON.parse(msg.payload);\n\nvar newDate = new Date();\nvar date = newDate.toLocaleDateString();\nvar time = newDate.toLocaleTimeString();\n\nfunction getTimeStamp() {\n  var d = new Date();\n  var s =\n    leadingZeros(d.getFullYear(), 4) + '-' +\n    leadingZeros(d.getMonth() + 1, 2) + '-' +\n    leadingZeros(d.getDate(), 2) + ' ' +\n\n    leadingZeros(d.getHours(), 2) + ':' +\n    leadingZeros(d.getMinutes(), 2) + ':' +\n    leadingZeros(d.getSeconds(), 2);\n\n  return s;\n}\n\nfunction leadingZeros(n, digits) {\n  var zero = '';\n  n = n.toString();\n\n  if (n.length < digits) {\n    for (i = 0; i < digits - n.length; i++)\n      zero += '0';\n  }\n  return zero + n;\n}\n\n\nmsg.topic = \"INSERT INTO smartcyy.sensor (temp, humidity, cdc, water, co2, `date`)\";\n//                                      \"INSERT INTO smartfarm.sensor (temp, humidity, cdc, water, co2, `date`)VALUES(18, 33, 56, 3, 0, '2021-01-13 17:47:41');\"\n// msg.topic += \"VALUES(\" + obj['temp'] + \", \" + obj['humidity'] + \", \" + obj['cdc'] + \", \" + obj['water'] + \", \" + obj['co2'] +     \", '2021-01-03 00:00:00');\";\nmsg.topic += \" VALUES(\" + obj['temp'] + \", \" + obj['humidity'] + \", \" + obj['cdc'] + \", \" + obj['water'] + \", \" + obj['co2'] +  \",  current_timestamp());\";\n\nmsg.payload = { \"temperature\":0, \"humidity\":0, \"cdc\":0, \"water\":0, \"co2\":0, \"date\": \"2021-01-03 00:00:00\" }\n\n// msg.topic += \" VALUES(1, 1, 1, 1, 1, '2021-01-03 00:00:00');\";\n\n// \"INSERT INTO sensor (temp, humidity, cdc, water, co2, `date`) VALUES(18, 33, 56, 3, 0, '2021-1-13 17:36:10');\"\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 378,
        "y": 514.0000200271606,
        "wires": [
            [
                "a6bbc18dcb15baa4",
                "c2d158706957ce44"
            ]
        ]
    },
    {
        "id": "a6bbc18dcb15baa4",
        "type": "debug",
        "z": "85f89934405c1be5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "topic",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 578,
        "y": 514.0000200271606,
        "wires": []
    },
    {
        "id": "cfd2fec6207d2647",
        "type": "ui_switch",
        "z": "85f89934405c1be5",
        "name": "",
        "label": "자동",
        "tooltip": "",
        "group": "49eed59c.ec92cc",
        "order": 1,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "a",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "b",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 316,
        "y": 23.000001907348633,
        "wires": [
            [
                "8d52282eda1d18bd"
            ]
        ]
    },
    {
        "id": "a9283edd0c9586d0",
        "type": "ui_switch",
        "z": "85f89934405c1be5",
        "name": "",
        "label": "환기팬",
        "tooltip": "",
        "group": "49eed59c.ec92cc",
        "order": 12,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "c",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "d",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 313,
        "y": 65,
        "wires": [
            [
                "8d52282eda1d18bd"
            ]
        ]
    },
    {
        "id": "3576c8142e8b7b0e",
        "type": "ui_text",
        "z": "85f89934405c1be5",
        "group": "49eed59c.ec92cc",
        "order": 4,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Temperature",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 894,
        "y": 175.00000095367432,
        "wires": []
    },
    {
        "id": "5f1405ef41f69cfd",
        "type": "ui_text",
        "z": "85f89934405c1be5",
        "group": "49eed59c.ec92cc",
        "order": 8,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Humidity",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 884,
        "y": 215.00000095367432,
        "wires": []
    },
    {
        "id": "286b5bd0eb178d08",
        "type": "ui_text",
        "z": "85f89934405c1be5",
        "group": "49eed59c.ec92cc",
        "order": 9,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Water",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 874,
        "y": 295.0000009536743,
        "wires": []
    },
    {
        "id": "c110d3f77a9ee9f0",
        "type": "ui_text",
        "z": "85f89934405c1be5",
        "group": "49eed59c.ec92cc",
        "order": 11,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "CO2 conc.",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 894,
        "y": 335.0000009536743,
        "wires": []
    },
    {
        "id": "b2aab3e2a6b3fc89",
        "type": "ui_text",
        "z": "85f89934405c1be5",
        "group": "49eed59c.ec92cc",
        "order": 10,
        "width": 5,
        "height": 1,
        "name": "",
        "label": "Photo",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 874,
        "y": 255.00000095367432,
        "wires": []
    },
    {
        "id": "3da4860ad5a7de03",
        "type": "ui_text",
        "z": "85f89934405c1be5",
        "group": "49eed59c.ec92cc",
        "order": 2,
        "width": 14,
        "height": 1,
        "name": "",
        "label": "수신되는 환경자료",
        "format": "{{msg.payload}}",
        "layout": "col-center",
        "x": 448,
        "y": 214.00002002716064,
        "wires": []
    },
    {
        "id": "ec622ea871d9d6f2",
        "type": "ui_chart",
        "z": "85f89934405c1be5",
        "name": "",
        "group": "49eed59c.ec92cc",
        "order": 15,
        "width": 7,
        "height": 6,
        "label": "Photo",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "1000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 874,
        "y": 475.0000009536743,
        "wires": [
            []
        ]
    },
    {
        "id": "4ea5e18ca058a39d",
        "type": "ui_chart",
        "z": "85f89934405c1be5",
        "name": "",
        "group": "49eed59c.ec92cc",
        "order": 14,
        "width": 7,
        "height": 6,
        "label": "CO2 Conc.",
        "chartType": "line",
        "legend": "false",
        "xformat": "HH:mm:ss",
        "interpolate": "linear",
        "nodata": "",
        "dot": false,
        "ymin": "0",
        "ymax": "2000",
        "removeOlder": 1,
        "removeOlderPoints": "",
        "removeOlderUnit": "3600",
        "cutout": 0,
        "useOneColor": false,
        "useUTC": false,
        "colors": [
            "#1f77b4",
            "#aec7e8",
            "#ff7f0e",
            "#2ca02c",
            "#98df8a",
            "#d62728",
            "#ff9896",
            "#9467bd",
            "#c5b0d5"
        ],
        "outputs": 1,
        "useDifferentColor": false,
        "x": 896,
        "y": 562,
        "wires": [
            []
        ]
    },
    {
        "id": "49bd3fb961133e4c",
        "type": "Stackhero-MySQL",
        "z": "85f89934405c1be5",
        "server": "32e927ef4e246d29",
        "name": "",
        "x": 488,
        "y": 774.0000200271606,
        "wires": [
            [
                "65c6a5665b0f4e80",
                "481d5b4860f6c254"
            ]
        ]
    },
    {
        "id": "ded9311d4dad2001",
        "type": "serial in",
        "z": "85f89934405c1be5",
        "name": "",
        "serial": "90c2d770290e3da8",
        "x": 88,
        "y": 314.00002002716064,
        "wires": [
            [
                "db6de3f35ad78ac1"
            ]
        ]
    },
    {
        "id": "8d52282eda1d18bd",
        "type": "serial out",
        "z": "85f89934405c1be5",
        "name": "",
        "serial": "5e2b34cc3964cadf",
        "x": 534,
        "y": 115.00000095367432,
        "wires": []
    },
    {
        "id": "2e52208c20d9f631",
        "type": "ui_slider",
        "z": "85f89934405c1be5",
        "name": "",
        "label": "광도",
        "tooltip": "",
        "group": "49eed59c.ec92cc",
        "order": 17,
        "width": 5,
        "height": 1,
        "passthru": true,
        "outs": "all",
        "topic": "payload",
        "topicType": "msg",
        "min": 0,
        "max": "9",
        "step": 1,
        "x": 314,
        "y": 155.00000095367432,
        "wires": [
            [
                "8d52282eda1d18bd"
            ]
        ]
    },
    {
        "id": "5ef09dfa99b8b490",
        "type": "ui_button",
        "z": "85f89934405c1be5",
        "name": "",
        "group": "49eed59c.ec92cc",
        "order": 19,
        "width": 2,
        "height": 1,
        "passthru": false,
        "label": "button",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "icon": "",
        "payload": "",
        "payloadType": "date",
        "topic": "",
        "topicType": "str",
        "x": 174,
        "y": 915.0000009536743,
        "wires": [
            [
                "e4db3c93a40d239c",
                "e32d1794282c18be"
            ]
        ]
    },
    {
        "id": "e4db3c93a40d239c",
        "type": "ui_date_picker",
        "z": "85f89934405c1be5",
        "name": "",
        "label": "date",
        "group": "49eed59c.ec92cc",
        "order": 22,
        "width": 5,
        "height": 1,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "x": 334,
        "y": 915.0000009536743,
        "wires": [
            [
                "65148e740c56042c"
            ]
        ]
    },
    {
        "id": "e32d1794282c18be",
        "type": "ui_date_picker",
        "z": "85f89934405c1be5",
        "name": "",
        "label": "date",
        "group": "49eed59c.ec92cc",
        "order": 24,
        "width": 5,
        "height": 1,
        "passthru": true,
        "topic": "",
        "topicType": "str",
        "x": 334,
        "y": 975.0000009536743,
        "wires": [
            [
                "db3a244db0688065"
            ]
        ]
    },
    {
        "id": "65148e740c56042c",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "global.set('start_date', msg.payload);\n\nmsg.payload = new Date(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 484,
        "y": 915.0000009536743,
        "wires": [
            [
                "94a4fc83268d9f97",
                "2e61c3382f018727"
            ]
        ]
    },
    {
        "id": "db3a244db0688065",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "global.set('end_date', msg.payload);\n\nmsg.payload = new Date(msg.payload);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 484,
        "y": 975.0000009536743,
        "wires": [
            [
                "94a4fc83268d9f97",
                "2e61c3382f018727"
            ]
        ]
    },
    {
        "id": "2e61c3382f018727",
        "type": "debug",
        "z": "85f89934405c1be5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 734,
        "y": 935.0000009536743,
        "wires": []
    },
    {
        "id": "da13a5621dc567e1",
        "type": "inject",
        "z": "85f89934405c1be5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 184,
        "y": 1035.0000009536743,
        "wires": [
            [
                "6dce8d4a025c1107"
            ]
        ]
    },
    {
        "id": "6dce8d4a025c1107",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "var sdate = global.get('start_date');\nvar edate = global.get('end_date');\n\nmsg.payload = new Date(sdate) + \",\" + new Date(edate);\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 484,
        "y": 1035.0000009536743,
        "wires": [
            [
                "2e61c3382f018727"
            ]
        ]
    },
    {
        "id": "9f16257a97d6298e",
        "type": "ui_table",
        "z": "85f89934405c1be5",
        "group": "49eed59c.ec92cc",
        "name": "",
        "order": 29,
        "width": 21,
        "height": 1,
        "columns": [
            {
                "field": "ID",
                "title": "ID",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "temp",
                "title": "temp",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "humidity",
                "title": "humidity",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "cdc",
                "title": "cdc",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "water",
                "title": "water",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "co2",
                "title": "co2",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            },
            {
                "field": "date",
                "title": "DATE",
                "width": "",
                "align": "left",
                "formatter": "plaintext",
                "formatterParams": {
                    "target": "_blank"
                }
            }
        ],
        "outputs": 0,
        "cts": false,
        "x": 994,
        "y": 755.0000009536743,
        "wires": []
    },
    {
        "id": "481d5b4860f6c254",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "var aJsonArray = new Array();\n\nvar j = 0; \nfor(var i = 0; i < msg.payload.length; i++)\n{\n    msg.payload[i].date = msg.payload[i].date.toLocaleString(\"en-US\", {timeZone: \"Asia/Seoul\"});\n    aJsonArray.push(msg.payload[i]);\n    j += 1;\n    if(j == 100) break;\n    \n}\n\nvar text = JSON.stringify(aJsonArray);\nvar obj = JSON.parse(text);\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 714,
        "y": 875.0000009536743,
        "wires": [
            [
                "9f16257a97d6298e",
                "2e675f1698243b82"
            ]
        ]
    },
    {
        "id": "73bc5c29068e8a08",
        "type": "inject",
        "z": "85f89934405c1be5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "str",
        "x": 604,
        "y": 695.0000009536743,
        "wires": [
            [
                "a3921d723e1e49e6"
            ]
        ]
    },
    {
        "id": "a3921d723e1e49e6",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "var aJsonArray = new Array();\n\nfor(var i = 0; i < 10; i++)\n{\n    var aJson = new Object();\n    aJson.ID = 0;\n    aJson.temp = 0;\n    aJson.humidity = 0;\n    aJson.cdc = 0;\n    aJson.water = 0;\n    aJson.co2 = 0;\n    aJson.date = \"2020-01-01 00:00:00\";\n    aJsonArray.push(aJson);\n}\n\nvar text = JSON.stringify(aJsonArray);\nvar obj = JSON.parse(text);\nmsg.payload = obj;\n\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 814,
        "y": 695.0000009536743,
        "wires": [
            [
                "9f16257a97d6298e",
                "2dee47e182be41da"
            ]
        ]
    },
    {
        "id": "2dee47e182be41da",
        "type": "debug",
        "z": "85f89934405c1be5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 994,
        "y": 695.0000009536743,
        "wires": []
    },
    {
        "id": "2e675f1698243b82",
        "type": "debug",
        "z": "85f89934405c1be5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 974,
        "y": 835.0000009536743,
        "wires": []
    },
    {
        "id": "50928718c1f73b75",
        "type": "debug",
        "z": "85f89934405c1be5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 514,
        "y": 835.0000009536743,
        "wires": []
    },
    {
        "id": "5a8c58f8e5a9ad0e",
        "type": "inject",
        "z": "85f89934405c1be5",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "INSERT INTO sensor;",
        "payload": "{\"temperature\":0,\"humidity\":0,\"cdc\":0,\"water\":0,\"co2\":0,\"date\":\"2021-01-03 00:00:00\"}",
        "payloadType": "json",
        "x": 174,
        "y": 615.0000009536743,
        "wires": [
            [
                "814ee8556c99ac76"
            ]
        ]
    },
    {
        "id": "814ee8556c99ac76",
        "type": "function",
        "z": "85f89934405c1be5",
        "name": "",
        "func": "msg.topic = \"INSERT INTO smartcyy.sensor (temp, humidity, cdc, water, co2, `date`)\";\nmsg.topic += \"VALUES(0, 0, 0, 0, 0, current_timestamp());\";\nreturn msg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 324,
        "y": 615.0000009536743,
        "wires": [
            [
                "c2d158706957ce44"
            ]
        ]
    },
    {
        "id": "c2d158706957ce44",
        "type": "Stackhero-MySQL",
        "z": "85f89934405c1be5",
        "server": "32e927ef4e246d29",
        "name": "",
        "x": 484,
        "y": 615.0000009536743,
        "wires": [
            [
                "3b07501d9e3b34f8"
            ]
        ]
    },
    {
        "id": "3b07501d9e3b34f8",
        "type": "debug",
        "z": "85f89934405c1be5",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 724,
        "y": 615.0000009536743,
        "wires": []
    },
    {
        "id": "24c2c8cb6f8de5f6",
        "type": "ui_gauge",
        "z": "85f89934405c1be5",
        "name": "",
        "group": "49eed59c.ec92cc",
        "order": 5,
        "width": 7,
        "height": 6,
        "gtype": "gage",
        "title": "Temperature",
        "label": "oC",
        "format": "{{value}}",
        "min": 0,
        "max": "50",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "20",
        "seg2": "30",
        "x": 890.5,
        "y": 391,
        "wires": []
    },
    {
        "id": "a14535e17b0c483b",
        "type": "ui_gauge",
        "z": "85f89934405c1be5",
        "name": "",
        "group": "49eed59c.ec92cc",
        "order": 6,
        "width": 7,
        "height": 6,
        "gtype": "wave",
        "title": "Humidity",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 885.5,
        "y": 433,
        "wires": []
    },
    {
        "id": "d30ac791ae5f8b6f",
        "type": "ui_gauge",
        "z": "85f89934405c1be5",
        "name": "",
        "group": "49eed59c.ec92cc",
        "order": 7,
        "width": 7,
        "height": 6,
        "gtype": "wave",
        "title": "Water",
        "label": "%",
        "format": "{{value}}",
        "min": 0,
        "max": "100",
        "colors": [
            "#00b500",
            "#e6e600",
            "#ca3838"
        ],
        "seg1": "",
        "seg2": "",
        "x": 876.5,
        "y": 517,
        "wires": []
    },
    {
        "id": "1413df4df98bb8e5",
        "type": "ui_switch",
        "z": "85f89934405c1be5",
        "name": "",
        "label": "측창",
        "tooltip": "",
        "group": "49eed59c.ec92cc",
        "order": 13,
        "width": 5,
        "height": 1,
        "passthru": true,
        "decouple": "false",
        "topic": "",
        "topicType": "str",
        "style": "",
        "onvalue": "e",
        "onvalueType": "str",
        "onicon": "",
        "oncolor": "",
        "offvalue": "f",
        "offvalueType": "str",
        "officon": "",
        "offcolor": "",
        "animate": false,
        "x": 312.5,
        "y": 107,
        "wires": [
            [
                "8d52282eda1d18bd"
            ]
        ]
    },
    {
        "id": "b21200b200388b3a",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 3,
        "width": 7,
        "height": 1
    },
    {
        "id": "b0c446721198de3c",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 16,
        "width": 7,
        "height": 1
    },
    {
        "id": "bd0ea532d3209b71",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 18,
        "width": 7,
        "height": 1
    },
    {
        "id": "6efb295fc533cb3a",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 20,
        "width": 3,
        "height": 1
    },
    {
        "id": "bbe0ca4d699250d3",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 21,
        "width": 7,
        "height": 1
    },
    {
        "id": "3568f56f7ff4d19d",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 23,
        "width": 7,
        "height": 1
    },
    {
        "id": "5ae4322ae9d8c877",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 25,
        "width": 7,
        "height": 1
    },
    {
        "id": "9e5684e2b18eaa7d",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 26,
        "width": 5,
        "height": 1
    },
    {
        "id": "7d30c2a3aa33d887",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 27,
        "width": 7,
        "height": 1
    },
    {
        "id": "0a0088116ab919d5",
        "type": "ui_spacer",
        "z": "85f89934405c1be5",
        "name": "spacer",
        "group": "49eed59c.ec92cc",
        "order": 28,
        "width": 5,
        "height": 1
    },
    {
        "id": "49eed59c.ec92cc",
        "type": "ui_group",
        "name": "환경자료",
        "tab": "778fa598.35f71c",
        "order": 7,
        "disp": true,
        "width": "26",
        "collapse": false
    },
    {
        "id": "32e927ef4e246d29",
        "type": "Stackhero-MySQL-Server",
        "name": "",
        "host": "127.0.0.1",
        "port": "3306",
        "tls": false,
        "database": "smartcyy"
    },
    {
        "id": "90c2d770290e3da8",
        "type": "serial-port",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "dtr": "none",
        "rts": "none",
        "cts": "none",
        "dsr": "none",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "",
        "responsetimeout": "10000"
    },
    {
        "id": "5e2b34cc3964cadf",
        "type": "serial-port",
        "z": "85f89934405c1be5",
        "serialport": "COM5",
        "serialbaud": "9600",
        "databits": "8",
        "parity": "none",
        "stopbits": "1",
        "waitfor": "",
        "newline": "\\n",
        "bin": "false",
        "out": "char",
        "addchar": "true",
        "responsetimeout": ""
    },
    {
        "id": "778fa598.35f71c",
        "type": "ui_tab",
        "name": "환경",
        "icon": "dashboard",
        "order": 1,
        "disabled": false,
        "hidden": false
    }
]